html {
  box-sizing: border-box;
  line-height: 1.5;
  color: #222;
  font-weight: normal;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "PT Sans", bold;
  color: #3f1622;
  font-size: 1.5rem;
}

nav ol {
  font-family: "PT Sans", bold;
  font-size: 1.125rem;
  color: #8f2440;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

img {
  width: 100%;
}

main {
  font-family: "PT Serif", regular;
  font-size: .8rem;
}

figure > figcaption {
  font-style: italic;
  text-align: center;
}

figure + p {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

footer > cite {
  text-align: left;
  font-size: .8rem;
}

.serving {
  font-style: italic;
}

dl > dt {
  font-family: "PT Serif", bold;
}

h2 {
  font-family: "PT Sans", bold;
  font-size: 1.5rem;
  color: #3f1622;
}

dt {
  font-weight: bold;
}

ol {
  list-style-type: lower-greek;
}

aside > ul {
  font-family: "PT Serif", regular;
  list-style-type: circle;
  font-size: .8rem;
}

a {
  text-decoration: none;
}

a:link {
  color: #8f2440;
}

a:visited {
  color: #3f1622;
}

a:hover {
  text-decoration: none;
  color: #3f1622;
}

a:focus {
  color: #3f1622;
}

a:active {
  color: #3f1622;
}
