html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: PT Sans, bold;
  color: #3f1622;
  font-size: 1.5rem;
}

nav ol {
  font-family: "PT Sans", bold;
  font-size: 1.25rem;
  color: #8f2440;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

main{
  font-family: "PT Serif", regular;
  font-size: 0.8rem;
}

figure > figcaption {
  font-family: "PT Serif", bold;
}


.varieties {

}

.serving {
  font-style: italic;
}

dl > dt {
  font-family: "PT Serif", bold
}


h2 {
  font-family: "PT Sans", bold;
  font-size: 1.5rem;
  color: #3f1622;
}

dt {
  font-weight: bold;
}

ol {
  list-style-type: lower-greek;
}

aside > ul {
  font-family: "PT Serif", regular;
  font-size: 0.8rem;
  list-style-type: circle;
}

a,
a:link {
  color: #8f2440;
}

a:visited {
  color: ##3f1622;
}

a:hover {
  color: #3f1622;
}

a:focus {
  color: #3f1622;
}

a:active {
  color: #3f1622;
}
